* {
    font-family: 'Roboto', sans-serif;
    margin: unset;
    padding: unset;
}
.main {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
  background-color: #1f2937;
  justify-content: space-around;
}
.logo {  
  color: #f9faf8;
  font-size: 18px;
  float: left;
  padding: 16px 150px 100px 0;
}
.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list li {
  float: right;
 
}
.list li a {
  display: block;
  color: #e5e7eb;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;

  
}
.hero {
	display: flex;
	justify-content: center;
	flex-direction: row;
  background-color: #1f2937;
  color: #f9faf8;

}
.image p {
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
  background-color: grey;
  width: 350px;
  height: 50px;
  padding: 80px;
  text-align: center;
  
}
.hero1 {
   padding: 50px;
}
