* {
    font-family: 'Roboto', sans-serif;
    margin: unset;
    padding: unset;
}
section {
    background-color: #1f2937;
    padding: 16px 208px;
}
#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}
.list a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.subheader {
    gap: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 112px 0;
}
.subheader .left .subtitle {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}
.subheader .right {
    width: 50%;
}
.title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    padding-bottom: 13px;
}
.subheader button {
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 7px;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
}
.image {
    background-color: gray;
    height: 230px;
    width: 500px;
}
.placeholder {
    text-align: center;
    padding: 100px 0;
    color: #E5E7EB;
    font-size: 18px;
}